node_modules/

src/uploads/products/**.jpg
src/uploads/products/**.jpeg
src/uploads/products/**.png

src/uploads/profiles/**.jpg
src/uploads/profiles/**.jpeg
src/uploads/profiles/**.png

src/uploads/documents/**.pdf