<main class="container">
    <h1 class="text-center my-3">{{title}}</h1>

    <div class="row">
        <div class="col-md-6 col-12">
            <h4 class="mb-4">Ultimos 10 mensajes</h4>
            <section id="messages" class="my-3">

            </section>
        </div>
        <div class="col-md-6 col-12">
            <h4 class="mb-4">Escribir mensaje</h4>
            <form>
                <input
                    type="text"
                    class="form-control my-3"
                    id="body"
                    ,
                    name="body"
                    placeholder="Escribe un mensaje"
                />
                <button
                    type="submit"
                    class="btn btn-primary bg-gradient"
                >Enviar</button>
            </form>
        </div>
    </div>
</main>
<script src="./socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>