<main class="container">
    <h1 class="text-center my-3">{{ title }}</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <form class="col-md-6 col-12">
            <input type="text" class="form-control my-3" id="user", name="user" placeholder="Ingresa tu nombre">
            <small class="text-danger mb-3" id="error"></small>
            <button type="submit" class="btn btn-primary bg-gradient my-3">Iniciar sesión</button>
        </form>
        <div class="col-md-3"></div>
    </div>
</main>
<script src="./js/index.js"></script>