{{> navbar}}
<main class="container">
    <h1 class="my-3">Bienvenido</h1>
    <ul class="list-group">
        <li class="list-group-item">Nombre: {{user.name}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Edad: {{user.age}}</li>
        <li class="list-group-item">Rol: {{user.role}}</li>
    </ul>

</main>